.penginapan {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;
}

.penginapan:hover {
  opacity: 0.8;
}

.penginapan-foto {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.penginapan-judul {
  margin-top: 10px;
  font-weight: bold;
}
